# Node.js and npm
node_modules/
package-lock.json

# Build and distribution
/dist
/build

# Logs
yarn-error.log
yarn-debug.log
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Miscellaneous
coverage/
*.tmp
*.bak
